@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  @apply bg-zinc-50 dark:bg-black;
}

body {
  @apply text-zinc-900 dark:text-zinc-100;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
